@import url('./font/main.css');
@import url('./tooltip.css');
@import url('./filter-drawer.css');

* {
  font-family: 'Changa', sans-serif;
}
.make-rtl {
  direction: ltr;
  height: 43px;
}

/* i[class*='ri-'] {
  @apply flex justify-center items-center;
} */

.vm--container {
  z-index: 999999 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

.flex-center {
  @apply flex items-center justify-center;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(177, 177, 177);
}

.flex-center {
  @apply flex justify-center items-center;
}
.vm--modal {
  left: auto !important;
  text-align: right;
  margin: 0 auto;
}

.oneUser {
  padding: 15px;
  border-radius: 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
}
.viewer-container.viewer-backdrop.viewer-fixed.viewer-fade.viewer-transition.viewer-in {
  z-index: 9999999 !important;
}
input,
textarea {
  @apply w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}

input.checkbox {
  transform: rotateX(0) rotateY(180deg);
}

textarea {
  @apply h-32;
}

.formulate-input[data-classification='box'] .formulate-input-element input {
  left: 0 !important;
}

.formulate-input[data-classification='file']
  .formulate-files
  .formulate-file-remove {
  left: 0.75em !important;
  right: auto !important;
}

button.w-full {
  width: 100% !important;
}

.carousel-wrapper {
  padding: 40px;
}
.img-wrapper img {
  margin: auto;
  width: 200px;
  height: 100px;
  background-image: linear-gradient(gray 100%, transparent 0);
}

.b-checkbox.checkbox input[type='checkbox'] + .check,
.b-radio.radio input[type='radio'] + .check {
  margin-left: 10px !important;
}

.force-overflow .modal-card {
  overflow-y: scroll !important;
  max-height: auto;
  height: 100%;
}

.edit-user-modal .formulate-input-element {
  max-width: 100% !important;
}
.hooper {
  height: auto !important;
}

.hooper-next,
.hooper-prev {
  background-color: #f4f4f4 !important;
}
