.product-card {
  @apply bordered relative justify-between border-gray-300 overflow-hidden rounded-xl border-2 flex flex-col w-72 my-3;
}

.product-card button.like-btn {
  position: absolute !important;
  left: 10px !important;
  top: 10px !important;
}

.product-card--image img {
  width: 100% !important;
  height: 400px;
  object-fit: cover;
}

.product-card--info {
  @apply flex flex-col flex-grow justify-between p-3;
}

/* .product-card--info--header {
  @apply flex justify-between;
} */

.product-card--info--header h2 {
  @apply text-xl font-bold;
}

.product-card--info--header h4 {
  @apply flex;
}

.product-card--info-footer {
  @apply flex mt-3 justify-between items-center;
}

.product-card--info-footer a {
  @apply text-gray-400 text-sm;
}
